.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.mapTitle {
        padding: 6px 8px;
        font: 10px/12px Arial, Helvetica, sans-serif;
        color: grey;
        background: white;
        background: rgba(255,255,255,0.8);
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
        border-radius: 5px;
}

.layers {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
    overflow-x:auto;
    max-height:400px;
    width:max-content;
    position:absolute;
    bottom:20px;
}
.layers h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
.layer_elements {
    padding: 2px;
}
#map-wrapper {
    width: 100%;
    height: 500px;
    position: relative;
    border: 1px solid black;
}
#button-wrapper {
    position: absolute;
    bottom: 10px;
    left: 200;
    width: 100%;
    border: 1px solid red;
}
#map {
    width: 100%;
    height: 100%;
}
