.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.mapTitle {
        padding: 6px 8px;
        font: 10px/12px Arial, Helvetica, sans-serif;
        color: grey;
        background: white;
        background: rgba(255,255,255,0.8);
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
        border-radius: 5px;
}

.layers {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
    overflow-x:auto;
    max-height:400px;
    width:max-content;
    position:absolute;
    bottom:0;
}
.layers h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
.layer_elements {
    padding: 2px;
}
#map-wrapper {
    width: 100%;
    height: 500px;
    position: relative;
    border: 1px solid black;
}
#button-wrapper {
    position: absolute;
    bottom: 10px;
    left: 200;
    width: 100%;
    border: 1px solid red;
}
#map {
    width: 100%;
    height: 100%;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.mapbutton {
    padding: 8px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    margin-top:0;
    width:max-content;
    bottom:0;
    color: black;
}

.mapbuttons {
    display: inline-block;
    display: flex;
    flex-direction: row;
}

.maplinks {
    text-decoration: none;
    color: black;
}

.layeraddingdialog {
    padding: 8px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,1);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    margin-top:0;
    width:max-content;
    bottom:0;
    color: black;
    width:100%;
    height:100%;
    display: none;
    overflow: scroll;
}

.attributetabledialog {
    padding: 8px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,1);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    color: black;
    display: none;
    overflow-y: auto;
    overflow-x:auto;
    height:400px;
    width:400px;
    position:absolute;
}

.filtertabledialog {
    padding: 8px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,1);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    color: black;
    display: none;
    overflow-y: auto;
    overflow-x:auto;
    height:400px;
    width:400px;
    position:relative;
}

.processingtoolbox {
    padding: 8px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,1);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    margin-top:0;
    width:max-content;
    bottom:0;
    color: black;
    width:100%;
    height:100%;
    display: none;
}

.filtertablediv {
    padding: 8px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,1);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    color: black;
    display: none;
    overflow-y: auto;
    overflow-x:auto;
    height:400px;
    width:400px;
    position:absolute;
}

table {
    font-size: xx-small;
    overflow: scroll;
    position:absolute;
}

.inline {
    float: left;
}

.bufferdialog {
    padding: 8px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,1);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    color: black;
    display: block;
    overflow-y: auto;
    overflow-x:auto;
    height:400px;
    width:400px;
}

.voronoidialog {
    padding: 8px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,1);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    color: black;
    display: block;
    overflow-y: auto;
    overflow-x:auto;
    height:400px;
    width:400px;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
